
body {
    background-image:linear-gradient(to right, rgb(151, 79, 151), rgb(199, 119, 133));
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    margin: 0;
    display: inline;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {

    background: -webkit-linear-gradient(rgb(150, 65, 79), rgb(54, 11, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.describe {
text-align: center;
height: 100%;
position: relative;
width: 100%;
}

.me {
    width: 900px;
    margin: 0 auto 30px auto;
    background:rgb(151, 79, 151);
    color: white;
    overflow: hidden;
}

.me img {
    width: 30%;
    justify-content: space-between;
float: right;
}
.about-me-bio p{
    padding: 35px;
    float: right;
    width: 40%;
    justify-content: space-evenly;
    position: relative;
    bottom: 130px;
}
.about-me-bio h2 {
    width: 35%;
    margin: 3.5%;
    color: #fff;
    font-size: 25px;
    line-height: 1.2;
    border-right: 3px solid white;
    height: 200px;
    position: relative;
   right: 120px;
   top: 150px;
   text-align: center;
}


.about-me-bio h2:after {
    content: "";
    height: 1px;
    width: 50%;
    margin-left: 1rem;
    background-color: purple;
}
.previous-work {
    width: 900px;
    margin: 0 auto 30px auto;
    background:rgb(151, 79, 151);
    color: white;
    overflow: hidden;
}

.previous-work h2 {
    width: 25%;
    margin: 25px 30px;
    color: #fff;
    font-size: 25px;
    line-height: 5px;
    border-right: 3px solid white;
    line-break: auto;
    display: inline-block;
    height: 200px;
    position: relative;
   right: 30px;
   top: 50px;
   
   
}
.previous-work h2:after {
    content: "";
    height: 1px;
    width: 50%;
    margin-left: 1rem;
}




.previous-work p {
    padding: 30px;
    float: right;
    width: 50%;
    justify-content: space-evenly;
    position: relative;
    bottom: 100px;
    left: 50px;

}
.previous-work img {
    width: 100%;
    position: absolute;
    top: 100px;
    right: 100px;
}

.previous-work p a:hover {
    background-color: yellow;
}

.contact {
    width: 900px;
    margin: 0 auto 30px auto;
    background:rgb(151, 79, 151);
    color: white;
    overflow: hidden;
}

.contact h2 {
    width: 25%;
    margin: 25px 30px;
    color: #fff;
    font-size: 25px;
    line-height: 5px;
    border-right: 3px solid white;
    line-break: auto;
    display: inline-block;
    height: 200px;
    position: relative;
   right: 30px;
   top: 50px;
   
   

}

.contact a {
    padding: 30px;
    float: right;
    width: 50%;
    justify-content: space-evenly;
    position: relative;
    top: 100px;
    
}